exportPattern("^[[:alpha:]]+")

importFrom("stats", "approxfun")
importFrom("utils", "data")
importFrom("celestial", "cosdistTravelTime", "cosdistLumDist", "cosplanckPeakWave", "cosplanckLawRadWave")
importFrom("stats", "integrate", "dnorm")
importFrom("NISTunits", "kNIST2010PlanckConstant", "kNIST2010speedOfLightInVacuum", "kNIST2010BoltzmannConstant")
